@use '../../assets//colors' as C;
.info {
  font-size: 3rem;
  color: C.$black;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .serviceBox {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info {
    font-size: 3rem;
    color: rgba(128, 128, 128, 0.564);
    text-align: center;
  }
}
