$lightblue: lightsteelblue;
$darkerWhite: rgb(206, 206, 206);
$white: rgb(240, 240, 240);
$lightGreen: lightgreen;
$black: #333;

$lightGray: rgba(220, 220, 220, 0.481);

$priceColor1: lightseagreen;
$priceColor2: rgb(184, 81, 215);
$priceColor3: rgb(149, 149, 234);
