@use '../../assets/colors' as C ;

.summary {
  position: relative;
  height: 100%;
  
  .summaryBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  h2{
    color: C.$white
  }


}
