@use '../../assets/colors' as C;

.appWindow {
  .checkboxContainer {
    background-color: C.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10px #33333355;
  }
  .summaryBox {
    margin-top: 30px;
    width: 100%;
    background-color: C.$white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 10px #33333355;
  }
}

@media screen and (min-width: 1000px) {
  .appWindow {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .checkboxContainer {
      width: 100%;
    }
  }
}
